html{
    background-color:#d3d3d3;
    background-image: url("meen_launcher.png");
}
main{
    background-color:#fff;
}
h2{
    color: gray;
}

h3{
    color:slategray;
}
.titulo-escolar{
    text-decoration: solid;
    text-decoration: underline;
}

h4{
    color:grey;
    text-decoration: solid;
}
